.fullWidth > * {
    width: 100%;
}

.block {
    display: inline-block; 
    vertical-align: top;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.centered {
    margin: 0 auto;
    width: 330px;
}

h1, h2, h3 {
    text-align: center;
}